<header>
  <a href="<%= root_url %>"><img src="http://www.logomaker.com/logo-images/86156732bde5a446.gif"/></a> 
  <form method="get" id="sform" action="http://www.google.com/search">
    <div>
      <%= link_to "Partner Login", "auth/partners" %> |
      <%= link_to "Contact Us", '#' %> | 
      <input type="text" id="q" value="" name="q">
      <input type="hidden" name="sitesearch" value="<%= enki_config[:url] %>">
      <button type="submit">Search</button>
    </div>
  </form>
  <hr />
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", '#' %></li>
<!--      <li><%= link_to "About", about_path %></li> -->
      <li><%= link_to "Investments", '#' %></li>
      <li><%= link_to "Blog", blog_path %></li>
    </ul>
  </nav>
  <hr />
</header>
