<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title><%= html_title yield(:page_title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'rails' %>
  <%= open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation] %>
  <%= yield(:head) %>

  <%= javascript_include_tag 'analytics' %>
</head>
<body>
  <div id="page_container">
    <div id="content">
      <%= render 'layouts/header' %>
      <div id="main">
        <%= yield %>
      </div>

      <%= render 'layouts/footer' %>
    </div>
  </div>
</body>
</html>
